<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= yield :header_tags %>
</head>
<body>

<div id="header">
 ğœ© 
<%= link_to "GitHaven", :controller => 'application' %>
<div id="account" style="float:right">
<% if session[:user_id] && User.exists?(session[:user_id]) %>
<%  username = User.find(session[:user_id]).username %>
<%= link_to h(username), :user => username, :controller => 'users', :action => 'show' %> |
<%= link_to t('user.preferences'), :controller => 'users', :action => 'edit' %> |
<%= link_to t('user.logout'), :controller => 'users', :action => 'logout' %> |
<% else %>
<%= link_to t('user.signup'), :controller => 'users', :action => 'new' %> |
<%= link_to t('user.login'), :controller => 'users', :action => 'login' %> |
<% end %>
Help
</div>
</div>

<div id="main">
<div id="flash"><%= flash[:notice] %></div>
<%= yield  %>
</div>

<div id="footer">
<a href="http://www.githaven.com">GitHaven</a> is Copyright <a href="mailto:ben@meyerhome.net">Benjamin Meyer</a> 2009
</div>

</body>
</html>
