<% if @commits -%>
  <% date = Time.now %>
  <% for commit in @commits -%>
    <% if @commits.count != 1 && date.day != commit.date.day -%>
    <div class="date">
    <% date = commit.date -%>
    <%= print_date(commit.date) %>
    </div>
    <% end -%>
    <div class="commit">
    <div class="commit_links" style="float:right">
    <% if !commit.parents.empty? %>
<%= link_to "parent",
        {:user => @repository.user.username, :repo => @repository.name, :action => 'commit', :sha1 => commit.parents[0].sha, :controller => 'repositories'} %> |
        <% end %>
 <%= link_to "tree",
        {:user => @repository.user.username, :repo => @repository.name, :action => 'show', :branch => commit.sha, :controller => 'repositories'} %>
    </div>
    <%= image_tag(gravatar_url_for(commit.author.email, "&size=16"), :size => "16x16") %>
    <%= mail_to commit.author.email, h(commit.author), :class => "commit_author" %> Committed <%= link_to h(commit.id_abbrev),
        {:user => @repository.user.username, :repo => @repository.name, :action => 'commit', :sha1 => commit.sha, :controller => 'repositories'} %>
    @
    <%= print_date(commit.date) if @commits.count == 1%>
    <%= sprintf("%02.0f", commit.date.hour) + ":" + sprintf("%02.0f", commit.date.min) %>
        <br />
    <div class="commit_message"><%= link_to h(print_short_commit_message(commit.message, 200)),
        {:user => @repository.user.username, :repo => @repository.name, :action => 'commit', :sha1 => commit.sha, :controller => 'repositories'} %>
    </div>
  </div>
  <% end %>
<% end %>
