<div id="repopage"><pre>
Make sure you have the following set on your computer:
  git config --global user.name "<%= @loggedinuser.name %>"
  git config --global user.email <%= @loggedinuser.email %>

Pushing an existing Git repository?
  cd existing_repository
  git remote add origin git@<%= @host %>:<%=@repository.user.username%>/<%=@repository.name%>.git
  git push origin master

Creating a new Repository?
  mkdir <%= @repository.name %>
  cd <%= @repository.name %>
  git init
  touch README
  git add README
  git commit -m "initial commit"
  git remote add origin git@<%= @host %>:<%=@repository.user.username%>/<%=@repository.name%>.git
  git push origin master
</pre>
</div>
