<% @repositories.delete_if { |x| !x.authorized(@loggedinuser) } %>
<% if !@repositories.empty? %>
<div id="repositories">
<table id="tree">
<% for repository in @repositories %>
  <tr class="<%= cycle('contents-line-odd', 'contents-line-even') %>">
    <td><%= (image_tag 'private.png') if !repository.public %></td>
    <td><%=link_to h(repository.user.username), :user => repository.user.username, :controller => 'users', :action => 'show' %> /</td>
    <td><%=link_to h(repository.name), :controller => 'repositories', :action => 'show', :user => repository.user.username, :repo => repository.name %></td>
    <td id="tree_message"><%=h repository.description %></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
