<% @repositories.delete_if { |x| !x.authorized(@loggedinuser) } %>
<% @repositories.sort! { |a,b|
if (a.user.username == b.user.username )
    a.name<=>b.name
else
    a.user.username<=>b.user.username
end
}%>
<% if !@repositories.empty? %>
<div id="repositories">
<table id="tree">
<% for repository in @repositories %>
  <tr class="<%= cycle('contents-line-odd', 'contents-line-even') %>">
    <td><%= (image_tag 'private.png', :title => 'Everyone can NOT access this repository.') if !repository.public %></td>
    <td><%=link_to h(repository.user.username), :user => repository.user.username, :controller => 'users', :action => 'show' %></td>
    <td>/</td>
    <td><%=link_to h(repository.name), :controller => 'repositories', :action => 'show', :user => repository.user.username, :repo => repository.name %></td>
    <td class="tree_name"><%=h repository.description %></td>
    <td>
    <% repository.tags.each { |t| %>
    <%= "[" + link_to(h(t.tag), :controller => 'tags', :action => 'show', :tag => t.tag) + "]" %>
    <% } %>
    </td>
  </tr>
<% end %>
</table>
</div>
<% end %>
