<div id="repository">
<%= link_to_user(@owner) %> / <b> <%= link_to_repository(@repository) %></b><br />
<% if !@repository.description.empty? %>
<%= t('repository.description') -%>: <%=h @repository.description %><br />
<% end %>
<!-- Public Clone URL: <b>git://<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br /> -->
Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
</div>

<div id="repoheader">
  <%= link_to 'Source', :action => 'show' %>
  | <%= link_to 'Commits', :controller => 'repositories', :action => 'commits', :repo => @repository.name, :user => @repository.user.username %>
  <% if @owner == @loggedinuser -%>
  | <%= link_to 'Admin', edit_repository_path(@repository) %>
  <% end -%>
</div>
<hr>

<div id="tags">
<% if @repo %>
Branches:<br />
<% for branch in @repo.branches() %>
<%= link_to h(branch.name) %><br />
<% end %>
Tags:<br />
<% for tag in @repo.tags() %>
<%= link_to h(tag.name) %><br />
<% end %>
<% end %>
</div>

<% if !@repo %>
<% if @repository.user == @loggedinuser %>
<%= render(:partial => 'emptyrepo.html.erb') %>
<% else %>
Nothing Here yet.
<% end %>
<% end %>
