<div id="repository">
    <%= image_tag (@repository.public ? 'public.png' : 'private.png'), :class => 'repo_public_private' %>
    <%= link_to_user(@owner) %> / <b> <%= link_to_repository(@repository) %></b><br />
<% if !@repository.description.empty? -%>
    <%= t('repository.description') -%>: <%=h @repository.description %><br />
<% end -%>
    <%
    if @repository.public
    %>
    Public Clone URL: <b>http://<%= @host + @request.port_string() + '/' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
    <%
    end%>
<% if @loggedinuser -%>
    Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
<% end -%>
</div>
<div id="repository_actions">
    <ul>
        <li><%= link_to 'Source', :action => 'show', :branch => @branch %></li>
        <li><%= link_to 'Commits', :controller => 'repositories', :action => 'commits', :repo => @repository.name, :user => @repository.user.username, :branch => @branch %></li>
        <% if @owner == @loggedinuser -%><li id="repository_admin"><%= link_to 'Admin', edit_repository_path(@repository) %></li><% end %>
        <br />
    </ul>
</div>
