<div id="repoheader">
  <%= link_to 'Source', :action => 'show' %>
  | <%= link_to 'Commits', :controller => 'repositories', :action => 'commits', :repo => @repository.name, :user => @repository.user.username %>
  <% if @owner == @user -%>
  | <%= link_to 'Admin', edit_repository_path(@repository) %>
  <% end -%>
</div>
<hr>
<% if @repo %>
Branches:
<% for branch in @repo.branches() %>
<%= link_to h(branch.name) %><br />
<% end %>
Tags:
<% for tag in @repo.tags() %>
<%= link_to h(tag.name) %><br />
<% end %>

<% end %>

<div id="repository">
<%= link_to h(@owner.username), :controller => 'users', :action => 'show', :user => @owner.username %>
/ <b><%= link_to h(@repository.name), :controller => 'repositories', :action => 'show', :repo => @repository.name %></b><br />
Description: <%=h @repository.description %><br />
Homepage: <%=h @repository.url %><br />
Public Clone URL: <b>git://<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
</div>

<% if !@repo %>
<%= render(:partial => 'emptyrepo.html.erb') %>
<% end %>
