<div id="repository">
    <%= image_tag (@repository.public ? 'public.png' : 'private.png'), :class => 'repo_public_private' %>
    <% @repository.permissions.each { |p| %>
    <%= image_tag(gravatar_url_for(p.user.email, "&size=16"), :size => "16x16", :class => 'repo_public_private', :alt => p.user.username) if p.user.email && p.user.username%>
    <% } %>
    <%= link_to_user(@owner) %> / <b> <%= link_to_repository(@repository) %></b>

    <% @repository.tags.each { |t| %>
    <%= "[" + link_to(h(t.tag), :controller => 'tags', :action => 'show', :tag => t.tag) + "]" %>
    <% } %>
    <br />

<% if !@repository.description.empty? -%>
    <%= t('repository.description') -%>: <%=h @repository.description %><br />
<% end -%>
    <%
    if @repository.public
    %>
    Public Clone URL: <b>http://<%= @host + @request.port_string() + '/' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
    <%
    end%>
<% if @loggedinuser -%>
    Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
<% end -%>
</div>
<div id="repository_actions">
    <ul>
        <li><%= link_to 'Source', :action => 'show', :branch => @branch %></li>
        <li><%= link_to 'Commits', :controller => 'repositories', :action => 'commits', :repo => @repository.name, :user => @repository.user.username, :branch => @branch %></li>
        <% if @owner == @loggedinuser -%><li id="repository_admin"><%= link_to 'Admin', edit_repository_path(@repository) %></li><% end %>
    </ul>
</div>
