<%= render(:partial => 'repositorytopbar.html.erb') %>
<%= page_heading "Edit Repository" %>
<h2><%=h(@repository.name) %> settings</h2>

<% form_for(@repository) do |f| %>
  <%= f.error_messages %>
  <p>
  <!--
    <%= f.label :name %><br />
    <%= f.text_field :name %>
-->
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label 'Default branch' %><br />
    <%= f.select :defaultbranch,
        @branches.map {|u| [u.name, u.name]},
        :prompt => "Select a branch" %>
  </p>
  <p>
    <%= f.submit 'Update settings' %>
  </p>
<% end %>

<hr>
<h2>Repository Tags</h2>
<ul>
<% for tag in @repository.tags %>
<li>
<%= h tag.tag %>
<%= link_to '(Remove)', tag, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</ul>
<%= button_to 'Add another tag', { :controller => 'tags', :action => 'new', :repo => @repository.id},  :method => :get %>

<hr>
<h2>External Links</h2>
<ul>
<% for link in @repository.links %>
<li>
<%= h link.name %>
<%= h link.url %>
<%= link_to '(Edit)', { :controller => 'links', :action => 'edit', :id => link.id } %>
<%= link_to '(Remove)', link, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</ul>
<%= button_to 'Add another link', { :controller => 'links', :action => 'new', :repo => @repository.id},  :method => :get %>


<hr>
<h2>Repository Permissions</h2>
<ul>
<% for permission in @repository.permissions %>
<li>
<%= h permission.user.username %>
[<%= permission.mode %>]
<%= link_to '(Remove)', permission, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</ul>
<%= button_to 'Add another permission', { :controller => 'permissions', :repo => @repository.id, :action => 'new'},  :method => :get %>

<div id="delete_button">
<%= button_to 'Delete Repository', @repository, :confirm => 'Are you sure?', :method => :delete  %>
</div>
