<%= render(:partial => 'repositorytopbar.html.erb') %>
<%= page_heading "Edit Repository" %>
<h2><%=h(@repository.name) %> settings</h2>

<% form_for(@repository) do |f| %>
  <%= f.error_messages %>
  <p>
  <!--
    <%= f.label :name %><br />
    <%= f.text_field :name %>
-->
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label 'Default branch' %><br />
    <%= f.select :defaultbranch,
        @branches.map {|u| [u.name, u.name]},
        :prompt => "Select a branch" %>
  </p>
  <p>
    <%= f.submit 'Update settings' %>
  </p>
<% end %>

<h2>Repository Permissions</h2>
<ul>
<% for permission in @repository.permissions %>
<li>
<%= h permission.user.username %>
[<%= permission.mode %>]
<%= link_to '(Remove)', permission, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</ul>
<%= button_to 'Add another permission', { :controller => 'permissions', :repo => @repository.id, :action => 'new'},  :method => :get %>

<div id="delete_button">
<%= button_to 'Delete Repository', @repository, :confirm => 'Are you sure?', :method => :delete  %>
</div>
