<%= render(:partial => 'repositorytopbar.html.erb') %>
<%= page_heading "Edit Repository" %>
<h2>Editing <%=h(@repository.name) %> repository</h2>

<% form_for(@repository) do |f| %>
  <%= f.error_messages %>
  <p>
  <!--
    <%= f.label :name %><br />
    <%= f.text_field :name %>
-->
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :defaultbranch %><br />
    <%= f.text_field :defaultbranch %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<h2>Permissions:</h2>
<ul>
<% for permission in @repository.permissions %>
<li>
<%= h permission.user.username %>
[<%= permission.mode %>]
<%= link_to '(Remove)', permission, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</ul>
<%= button_to 'Add another permission', { :controller => 'permissions', :repo => @repository.id, :action => 'new'},  :method => :get %>

<hr>
<%= button_to 'Delete Repository', @repository, :confirm => 'Are you sure?', :method => :delete  %>
