
<%= link_to 'Back', repositories_path %>

<div id="repository">
<%=h(@owner.username) %> / <b><%=h @repository.name %></b>
  <%= link_to '[Edit]', edit_repository_path(@repository) %><br />
Description: <%=h @repository.description %><br />
Homepage: <%=h @repository.url %><br />
Public Clone URL: <b>git://<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
</div>

