<%=
=begin
Copyright 2009 Benjamin Meyer
=end
%>
<%= page_heading (@repository.user.username + "'s " + @repository.name + " at " + @branch) %>
<%= render(:partial => 'repositorytop.html.erb') %>
<div id="repopage">
<%= render(:partial => 'commitlist.html.erb') %>

<% if @repo -%>
    <div id="tree_path">
        <% top_path = "" %>
        <%= link_to h(@repository.name), @repository %>/
    <% if @path -%>
        <% for f in @path -%>
            <%= link_to_path(top_path, f) %>
            <% top_path += f + '/'; -%> /
        <% end -%>
    <% end -%>
    </div>


    <% if @tree && (!@tree.mode || @tree.mode == "040000") -%>
        <table id="tree">
        <th></th>
        <th>Name</th>
        <th>Date</th>
        <th>Message</th>
        <% @joinedpath += '/' if !@joinedpath.empty? %>
        <% for f in @tree.contents %>
            <% readmefile = f if f.name == "README"; %>
            <tr class="<%= cycle('contents-line-odd', 'contents-line-even') %>">
            <td class="tree_image"><%=
            if f.mode == "040000"
                image_tag "folder.png", :alt => "Folder"
            else
                image_tag "text-generic.png", :alt => "File"
            end
            %></td>
            <td class="tree_name"><%= link_to_path(@joinedpath, f.name) %><%= '/' if f.mode == "040000" %></td>
            <% most_recent_commit = @repo.log(@branch, @joinedpath + f.name, :max_count => 1 ).first %>
            <td class="tree_date"><%= print_date(most_recent_commit.date) %></td>
            <td class="tree_message"><%= link_to print_short_commit_message(most_recent_commit.message),
            {:user => @repository.user.username, :repo => @repository.name, :action => 'commit', :sha1 => most_recent_commit.sha, :controller => 'repositories'}, :class => "tree_commit_message" %></td>
            </tr>
        <%  end -%>
        </table>
    <% else -%>
        <% readmefile = @tree %>
    <% end -%>

    <% if readmefile -%>
        <div id="filename"><%=h readmefile.name %></div>
        <div id="data">
        <% if readmefile.name.match(/(png$|jpg$|jpeg$|gif$)/) %>
            <img alt="<%= readmefile.name -%>"
                 src="<%= ('/' + @repository.user.username + '/' + @repository.name + '/raw/' + @branch + '/' + @joinedpath) -%>">
        <% else %>
            <%= h(readmefile.data).gsub(/\n/, '<br/>') %>
        <% end %>
        </div>
    <% end -%>

<% end -%>
</div>

