<div id="repoheader">
  [Source]
  [Commits]
  <% if @owner == @user -%>
  <%= link_to '[Admin]', edit_repository_path(@repository) %>
  <% end -%>
</div>

<div id="repository">
<%= link_to h(@owner.username), :controller => 'users', :action => 'show', :user => @owner.username %> / <b><%= link_to h @repository.name %></b><br />
Description: <%=h @repository.description %><br />
Homepage: <%=h @repository.url %><br />
Public Clone URL: <b>git://<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
Your Clone URL: <b>git@<%= @host + ':' + h(@owner.username) + '/' + h(@repository.name) + '.git' %></b><br />
</div>

