<%=
=begin
Copyright 2009 Benjamin Meyer
=end
%>
<%= page_heading (@repository.user.username + "'s " + @repository.name + " at " + @branch) %>
<%= render(:partial => 'repositorytop.html.erb') %>
<div id="repopage">
<%= render(:partial => 'commitlist.html.erb') %>

<% if @repo -%>
    <div id="tree_path">
        <% top_path = "" %>
        <%= link_to h(@repository.name), @repository %>/
    <% if @path -%>
        <% for f in @path -%>
            <%= link_to_path(top_path, f) %>
            <% top_path += f + '/'; -%> /
        <% end -%>
    <% end -%>
    </div>


    <% if @tree && (!@tree.mode || @tree.mode == "040000") -%>
        <table id="tree">
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
        </tr>
        <% @joinedpath += '/' if !@joinedpath.empty? %>
        <% for f in @tree.contents %>
            <% readmefile = f if f.name == "README"; %>
            <tr class="<%= cycle('contents-line-odd', 'contents-line-even') %>">
            <td class="mode"><%= f.mode %></td>
            <td class="tree_image"><%=
            if f.mode == "040000"
                image_tag "folder.png", :alt => "Folder"
            else
                image_tag "text-generic.png", :alt => "File"
            end
            %></td>
            <td class="tree_name"><%= link_to_path(@joinedpath, f.name) %><%= '/' if f.mode == "040000" %></td>
            </tr>
        <%  end -%>
        </table>
    <% else -%>
        <% readmefile = @tree %>
    <% end -%>

    <% if readmefile -%>
        <div id="filename"><%=h readmefile.name %>
        (<a href="<%= ('/' + @repository.user.username + '/' + @repository.name + '/raw/' + @branch + '/' + @joinedpath) -%>">raw</a>)
        </div>
        <% if readmefile.name.match(/(png$|jpg$|jpeg$|gif$)/) -%>
        <div id="data">
            <img alt="<%= readmefile.name -%>"
                 src="<%= ('/' + @repository.user.username + '/' + @repository.name + '/raw/' + @branch + '/' + @joinedpath) -%>">
        </div>
        <% else -%>
        <div id="data"><%= h(readmefile.data).gsub(/\n/, '<br/>') -%></div>
        <% end -%>
        </div>
    <% end -%>

<% end -%>
</div>

