<h1>New write permissions for <%= link_to h(@repository.name), edit_repository_path(@repository) %></h1>

<% form_for(@permission) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field(:repository_id) %>
  <%= f.hidden_field(:user_id) %>
  User: <input id="user" type="text" name="user">
  <p>
    <%= f.submit "Add" %>
  </p>
<% end %>
