<%= page_heading "users" %>
<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Url</th>
    <th>Avatar</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.url %></td>
    <td><%=h user.avatar %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>
