
<h2>Sign up</h2><%= link_to '(login)', 'login' %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :user_password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_password_confirmation, 'Verify Password' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
  Public SSH Key (optional)<br />
  <textarea id="sshkey" rows="5" cols="100" name="sshkey"></textarea>
  </p>
 
  <p>
    <%= link_to "Terms of Service" %><br />
    <%= f.submit "Agree and signup!" %>
  </p>
<% end %>
