<div id="user">
<%= image_tag @user.gravatar_url %>
<h1><%=h @user.username %></h1>
(<%=h @user.name %>)
<hr>

Name: <%=h @user.name %><br />
Email: <%=h @user.email %><br />
Website: <%=h @user.url %><br />
</div>

<h2>Repositories:</h2>
<ul id="repositories">
<% for repo in @user.repositories %>
    <li><%=link_to h(repo.name), :controller => "repositories", :action => "show", :repo => repo.name %></li>
<% end %>
</ul>

