<div id="user">
<%= image_tag @user.gravatar_url %>
<h1><%=h @user.username %></h1>

<% if @user.name %>(<%=h @user.name %>)<% end %>

<% if @user.name %>Name: <%=h @user.name %><br /><% end %>
<% if @user.email %>Email: <%=h @user.email %><br /><% end %>
<% if @user.url %>Website: <%=h @user.url %><br /><% end %>
</div>


<h2>Repositories:</h2>
<ul id="repositories">
<% for repo in @user.repositories %>
    <li><%=link_to h(repo.name), :controller => "repositories", :action => "show", :repo => repo.name %>
    :: <%= repo.description %>
    </li>
<% end %>
</ul>
<% if session[:user_id] %>
<%= button_to "Create repository", {:controller => 'repositories', :action => 'new'}, :method => :get %>
<% end %>

<%= if session[:user_id]
@sshkeys = @user.sshkeys
render(:partial => 'sshkeys/show')
end
%>
