<%= page_heading @user.username %>
<div id="user">
<%= image_tag(gravatar_url_for(@user.avatar_email, "&size=48"), :size => "48x48") %>
<h1><%=h @user.username %></h1>
<div id="user_info">
<% if @user.name %>Name: <%=h @user.name %><br /><% end %>
<% if @user.email %>Email: <%=h @user.email %><br /><% end %>
<% if @user.url %>Website: <%=h @user.url %><br /><% end %>
</div>
</div>

<% @repositories = @user.repositories %>
<%= render(:partial => 'repositories/index') -%>

<% if session[:user_id] %>
<%= button_to "Create New Repository", {:controller => 'repositories', :action => 'new'}, :method => :get %>
<% end %>
