<%
#
#   Copyright (C) 2010 Benjamin C. Meyer <ben@meyerhome.net>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>
<%= page_heading @user.username %>
<div id="user">
<%= image_tag(@user.gravatar_url("&size=48"), :size => "48x48") %>
<h1><%=h @user.username %></h1>
<div id="user_info">
<% if @user.name %>Name: <%=h @user.name %><br /><% end %>
<% if @user.email %>Email: <%=h @user.email %><br /><% end %>
<% if @user.url %>Website: <%=h @user.url %><br /><% end %>
</div>
</div>

<% @repositories = @user.repositories %>
<%= render(:partial => 'repositories/index') -%>

<% if session[:user_id] %>
<%= button_to "Create New Repository", {:controller => 'repositories', :action => 'new'}, :method => :get %>
<% end %>
