<%= page_heading "New Tag" %>
<h1>New tag for <%= link_to h(@repository.name), edit_repository_path(@repository) %></h1>

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field(:repository_id) %>
    <%= f.label :tag %>
    <%= f.text_field :tag %>

  <p>
    <%= f.submit "Add" %>
  </p>
<% end %>
